@use "./" as *;
@use "./pages";
@use "./layout";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font2;
}
.font1 {
    font-family: $font1;
}
.centerAbs {
    @include centerAbsolute;
}
.contentHeader {
    @include contentHeader;
}
