@use "../" as *;
.aboutAcademyContainer {
    .divider {
        background-color: $green;
        height: 10px;
        width: 100%;
    }
    .contentHeader {
        @include contentHeader;
    }
}
