@use "../" as *;
header {
    .headerContainer {
        .headerMenu {
            li {
                color: $green;
                padding: 10px;
                font: {
                    weight: 520;
                    size: 16.5px;
                }
                &:hover {
                    background-color: $orange;
                    color: white;
                }
            }
        }
        .divider {
            background-color: $green;
            height: 10px;
            width: 100%;
        }
    }
}
