@use "../" as *;
header {
    .headerContainer {
        .headerMenu {
            li {
                color: $green;
                padding: 10px;
                font: {
                    weight: 520;
                    size: 16.5px;
                }
                &:hover {
                    background-color: $orange;
                    color: white;
                }
                .dropDown {
                    position: absolute;
                    background-color: $orange;
                    list-style: none;
                    margin-top: 10px;
                    li {
                        a {
                            padding: 10px 10px;
                            text-decoration: none;
                            color: white;
                        }&:hover {
                             background-color: $green2;
                         }
                    }
                }

            }
        }
        .divider {
            background-color: $green;
            height: 10px;
            width: 100%;
        }
    }
}
