@use './variables' as *;
// Test box
@mixin bd($color) {
	border: 1px solid $color;
}
// 1.0 - View ports
@mixin tablet {
	@media (max-width: 900px) {
		@content;
	}
}
@mixin mobile {
	@media (max-width: 550px) {
		@content;
	}
}
@mixin centerAbsolute {
    transform: translate(-50%,-50%);
}
@mixin contentHeader {
    color: $green;
    border-left: 5px solid $orange;
    padding: 0px 20px;
    margin: 0 0 20px;
    font: {
        size: 2em;
        weight: 900;
    }
}
